/packages
/TestSignalR/obj
/TestSignalR/bin/Microsoft.AspNet.SignalR.Core.xml
/TestSignalR/bin/Microsoft.AspNet.SignalR.SystemWeb.xml
/TestSignalR/bin/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.xml
/TestSignalR/bin/Microsoft.Owin.Host.SystemWeb.xml
/TestSignalR/bin/Microsoft.Owin.Security.xml
/TestSignalR/bin/Microsoft.Owin.xml
/TestSignalR/bin/Newtonsoft.Json.xml
/TestSignalR/bin/System.Web.Helpers.xml
/TestSignalR/bin/System.Web.Mvc.xml
/TestSignalR/bin/System.Web.Optimization.xml
/TestSignalR/bin/System.Web.Razor.xml
/TestSignalR/bin/System.Web.WebPages.Deployment.xml
/TestSignalR/bin/System.Web.WebPages.Razor.xml
/TestSignalR/bin/System.Web.WebPages.xml
/TestSignalR/bin/Antlr3.Runtime.pdb
/TestSignalR/bin/Microsoft.AspNet.SignalR.Core.pdb
/TestSignalR/bin/Microsoft.AspNet.SignalR.SystemWeb.pdb
/TestSignalR/bin/TestSignalR.pdb
/.vs
/TestSignalRCore/obj
