@{
    ViewBag.Title = "聊天窗口";
}

<h2>Chat</h2>
<div class="container">
    <input type="text" id="tbMessage" />
    <input type="button" id="btnSend" value="Send" />
    <ul id="messages"></ul>
</div>

@section scripts
{
    <!--引用SignalR库. -->
    <!--引用自动生成的SignalR 集线器(Hub)脚本.在运行的时候在浏览器的Source下可看到 -->
    <script src="~/signalr/hubs"></script>
    <script>
        $(function () {
            // 1、引用自动生成的集线器代理 必须用小写字母开头
            var proxy = $.connection.chatHub;

            // 3、定义服务器端调用的客户端方法来显示新消息
            proxy.client.showMessage = function (message) {
                $('#messages').append('<li>' + htmlEncode(message) + '</li>');
            };

            // 2、开始连接服务器 done函数表明建立连接成功后为发送按钮注册了一个click事件
            $.connection.hub.start().done(function () {
                $('#btnSend').click(function () {
                    // 调用服务器端集线器方法(要小写开头)
                    proxy.server.broadcast($('#tbMessage').val());
                });
            });

            // 设置焦点到输入框
            $('#tbMessage').focus();
        });

        // 为显示的消息进行Html编码
        function htmlEncode(value) {
            return $('<div />').text(value).html();
        }
    </script>
}